@keyframes circle {
  0% {
    transform: translate(-50%, -50%) scale(0.2);
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}

.test::after {
  position: absolute;
  content: "";
  width: 150%;
  height: 150%;
  background: #000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  border-radius: 100%;
  animation-name: circle;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.button-container-2 {
  position: relative;
  width: 200px;
  height: 50px;

  overflow: hidden;
  background-color: white;
  border: 1px solid #000;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: bold;
  background: #f58422;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 1.5rem;
  margin-top: 5px;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
a {
  color: #00ff95;
}

.timeFrame {
  animation: ani4;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-duration: 0.3s;
}
.timeFrameR {
  animation: ani5;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  animation-duration: 0.3s;
  opacity: 0;
}

@keyframes ani4 {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes ani5 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.shrink-container {
  transition: transform 2s cubic-bezier(0.39, 0.575, 0.565, 1); /* Adjust the transition duration as needed */

  transform: translateY(-100%) scaleX(0.95);
}

.shrink-containerr {
  transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1); /* Adjust the transition duration as needed */
  transform: translateY(0px);
}
@media screen and (max-height: 768px) {
  .res {
    width: 80%;
  }
  .resHandle {
    right: 74% !important;
  }
  .resbar {
    right: 65% !important;
  }
  .resSwitch {
    right: 30% !important;
  }
  .resTank {
    right: 20% !important;
  }
}

.test {
  animation-name: anim;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
